.gradle
.idea
build

# Gradle
gradle
gradlew
gradlew.bat
/log.csv
/data/.ipynb_checkpoints/
/data/Reviews.csv
/data/reviews_embedded.csv
/data/spam.csv
/data/spam_embedded.csv
/data/reviews_embedded_test.csv
/data/reviews_embedded_train.csv
/data/score/
